.page-404 {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}
.page-404-detail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 70px 50px 120px 50px ;
}
.page-404-detail img {
    width: 350px;
    max-width: 100%;
}
.page-404-detail p {
    color: var(--text-info);
    margin-bottom: 30px;
}
.page-404-detail a {
    padding: 6px 12px;
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    color: var(--text-keep);
    border-radius: var(--radius);
    font-size: 14px;
    transition: var(--tr3);
}
.page-404-detail a:hover {
    opacity: .8;
}