.single-top {
    margin-top: 70px;
    margin-bottom: 20px;
}
.single-banner {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
    transition: var(--tr3);
}
.single-banner .single-cate {
    margin: 20px 0 10px 0;
}
.single-banner .single-cate .single-cate-box {
    display: inline-block;
    padding: 2px 8px 3px 4px ;
    background-color: var(--theme-1);
    border-radius: 15px;
}
.single-banner .single-cate .single-cate-box span {
    font-size: 22px;
    color: var(--theme);
    vertical-align: middle;
}
.single-banner .single-cate .single-cate-box a {
    font-size: 12px;
    font-weight: 400;
    color: var(--theme);
}
.single-banner .single-title h1 {
    color: var(--text);
    margin-bottom: 10px;
    text-align: justify;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    transition: var(--tr3);
}
.single-banner .single-detail .author,
.single-banner .single-detail .other {
    display: flex;
    align-items: center;
}
.single-banner .single-detail .author {
    margin-bottom: 10px;
}
.single-banner .single-detail .date::before {
    content: '\e74b';
    font-family: 'iconfont';
    font-size: 18px;
}
.single-banner .single-detail .views::before {
    content: '\e745';
    font-family: 'iconfont';
    font-size: 18px;
}
.single-banner .single-detail .comments::before {
    content: '\e7b2';
    font-family: 'iconfont';
    font-size: 18px;
}
.single-banner .single-detail .date,
.single-banner .single-detail .views,
.single-banner .single-detail .comments {
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.single-banner .single-detail span,
.single-banner .single-detail a {
    font-size: 14px;
    color: var(--text-info);
    transition: var(--tr3);
}
.single-banner .single-detail .author a:hover {
    color: var(--theme);
}
.single-banner .single-detail .author > a {
    margin-right: 5px;
    border-radius: 50%;
}
.single-banner .single-detail img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}
.single-banner .single-detail .post-edit-link {
    font-size: 14px;
    color: var(--theme);
    margin-left: 5px;
}
.single-banner .breadcrumb {
    margin-top: 10px;
    color: var(--text-sub);
}
.single-banner .breadcrumb span {
    font-size: 20px;
    margin-right: 5px;
}
.single-banner .breadcrumb ul {
    display: flex;
    align-items: center;
}
.single-banner .breadcrumb ul li {
    margin-right: 5px;
    font-size: 14px;
    color: var(--text-info);
}
.single-banner .breadcrumb ul li a {
    color: var(--text-info);
    transition: var(--tr3);
}
.single-banner .breadcrumb ul li a:hover {
    color: var(--theme);
}
.single-banner .breadcrumb ul li:first-child a {
    display: flex;
    align-items: center;
}
.single-banner .breadcrumb ul li:first-child a::before {
    content: '\e67a';
    font-family: 'iconfont';
    font-size: 18px;
}
.single-main {
    display: flex;
    justify-content: space-between;
}

/* 目录树*/

/* 按钮 */
.post-menu-mb-btn {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 150px;
    background-color: var(--bgc);
    width: 45px;
    height: 45px;
    border-radius: 8px;
    box-shadow: var(--box-s);
    cursor: pointer;
    display: none;
    z-index: 5;
    -webkit-animation: open .5s;
    animation: open .5s;
    transition: var(--tr3);
}
.post-menu-mb-btn-on {
    display: block;
}

.post-menu-mb-btn div {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    justify-content: center;
    align-items: center;
    transition: var(--tr3);
}
.post-menu-mb-btn div:hover {
    border: 1px solid var(--theme);
}
.post-menu-mb-btn span {
    font-size: 24px;
    color: var(--text-info);
    transition: var(--tr3);
}
.post-menu-mb-btn:hover span {
    color: var(--theme);
}
/* 按钮-end */


/* 目录树 */
#article-toc-mb {
    display: block;
    position: fixed;
    width: 285px;
    height: auto;
    max-height: 50%;
    bottom: 205px;
    right: -310px;
    margin-bottom: 0;
    background-color: var(--bgc);
    box-shadow: var(--box);
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    overflow: auto;
    z-index: 5;
    transition: var(--tr3);
}
#article-toc-mb:hover {
    border: 1px solid var(--theme);
}
#article-toc-mb::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: var(--radius);
}
#article-toc-mb::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: var(--radius);
}

.article-toc-mb {
    right: 30px !important;
}
#article-toc-mb ul,
#article-toc-mb ul li {
    margin-left: 0;
}
#article-toc-mb #article-toc-title-mb {
    width: 100%;
    color: var(--text);
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid var(--border);
    padding-bottom: 8px;
    text-align: center;
    transition: var(--tr3);
}
#article-toc-mb #article-toc-ul-mb {
    margin-top: 10px;
}
#article-toc-mb #article-toc-ul-mb a * {
    font-style: normal;
    font-weight: 400;
}
#article-toc-mb ul li {
    list-style: none;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}
#article-toc-mb ul li a {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 2px 6px;
    padding-left: 6px;
    border-radius: var(--radius-sub);
    transition: var(--tr3);
}
#article-toc-mb ul li a:hover {
    color: var(--bgc);
    background: var(--theme);
}
#article-toc-mb #article-toc-ul-mb .heading-level-1,
#article-toc-mb #article-toc-ul-mb .heading-level-2 {
    font-size: 15px;
}
#article-toc-mb #article-toc-ul-mb .heading-level-3 {
    margin-left: 10px;
    width: calc(100% - 10px);
}
#article-toc-mb #article-toc-ul-mb .heading-level-4,
#article-toc-mb #article-toc-ul-mb .heading-level-5,
#article-toc-mb #article-toc-ul-mb .heading-level-6 {
    margin-left: 20px;
    width: calc(100% - 20px);
}
#article-toc-mb #article-toc-ul-mb .heading-level-1 a,
#article-toc-mb #article-toc-ul-mb .heading-level-2 a {
    font-size: 15px;
}
#article-toc-mb #article-toc-ul-mb .heading-level-4 a,
#article-toc-mb #article-toc-ul-mb .heading-level-5 a,
#article-toc-mb #article-toc-ul-mb .heading-level-6 a {
    font-size: 13px;
}
#article-toc-mb #article-toc-ul-mb .heading-level-1 a,
#article-toc-mb #article-toc-ul-mb .heading-level-2 a,
#article-toc-mb #article-toc-ul-mb .heading-level-3 a,
#article-toc-mb #article-toc-ul-mb .heading-level-4 a,
#article-toc-mb #article-toc-ul-mb .heading-level-5 a,
#article-toc-mb #article-toc-ul-mb .heading-level-6 a {
    color: var(--text-sub);
    position: relative;
    overflow: hidden;
    transition: var(--tr3);
}
#article-toc-mb #article-toc-ul-mb .heading-level-1 a:hover,
#article-toc-mb #article-toc-ul-mb .heading-level-2 a:hover,
#article-toc-mb #article-toc-ul-mb .heading-level-3 a:hover,
#article-toc-mb #article-toc-ul-mb .heading-level-4 a:hover,
#article-toc-mb #article-toc-ul-mb .heading-level-5 a:hover,
#article-toc-mb #article-toc-ul-mb .heading-level-6 a:hover {
    color: var(--text-keep);
    text-decoration: none;
    padding-left: 24px;
}
#article-toc-mb #article-toc-ul-mb .heading-level-1 a::before,
#article-toc-mb #article-toc-ul-mb .heading-level-2 a::before,
#article-toc-mb #article-toc-ul-mb .heading-level-3 a::before,
#article-toc-mb #article-toc-ul-mb .heading-level-4 a::before,
#article-toc-mb #article-toc-ul-mb .heading-level-5 a::before,
#article-toc-mb #article-toc-ul-mb .heading-level-6 a::before {
    content: '▸ ';
    font-weight: 400;
    color: var(--text-keep);
    position: absolute;
    left: -10px;
    transition: var(--tr3);
}
#article-toc-mb #article-toc-ul-mb .heading-level-1 a:hover::before,
#article-toc-mb #article-toc-ul-mb .heading-level-2 a:hover::before,
#article-toc-mb #article-toc-ul-mb .heading-level-3 a:hover::before,
#article-toc-mb #article-toc-ul-mb .heading-level-4 a:hover::before,
#article-toc-mb #article-toc-ul-mb .heading-level-5 a:hover::before,
#article-toc-mb #article-toc-ul-mb .heading-level-6 a:hover::before {
    left: 8px;
    font-weight: 400;
    color: var(--text-keep);
}
/* 目录树-end */

.single-main .left {
    border-radius: var(--radius);
    width: calc(100% - 305px);
    padding-bottom: 20px;
}
.single-main .left .post-content .post-tip {
    display: none;
}
.single-main .left .post-content .the-tag span a {
    line-height: 30px;
    font-size: 13px;
    padding: 2px 6px;
    margin-right: 5px;
    color: var(--theme);
    background: var(--theme-1);
    border-radius: var(--radius-sub);
    white-space: nowrap;
    transition: var(--tr3);
}
.single-main .left .post-content .the-tag span a::before {
    content: '#';
    left: 0;
}
.single-main .left .post-content .the-tag span a:hover {
    background: var(--theme);
    color: var(--bgc);
    text-decoration: none;
}
.single-main .left .post-content .post-copyright {
    width: 100%;
    font-size: 14px;
    padding: 20px;
    border-radius: var(--radius);
    color: var(--text-info);
    background-color: var(--bgc-sub);
}
.single-main .left .post-content .post-copyright div {
    line-height: 1.8;
}
.single-main .left .post-context {
    border-top: 1px solid var(--border);
    padding-top: 20px;
    margin-top: 20px;
    transition: var(--tr3);
}
.single-main .left .post-context .post-prev-next {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    transition: var(--tr3);
}
.single-main .left .post-context .post-prev-next:hover {
    border: 1px solid var(--theme);
}
.single-main .left .post-context .post-prev-next .post-prev,
.single-main .left .post-context .post-prev-next .post-next {
    width: 100%;
    height: 50%;
    font-size: 15px;
    padding: 0 15px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.single-main .left .post-context .post-prev-next .post-prev {
    border-bottom: 1px solid var(--border);
    transition: var(--tr3);
}
.single-main .left .post-context .post-prev-next span,
.single-main .left .post-context .post-prev-next a {
    color: var(--text-sub);
    padding: 10px 0;
    transition: var(--tr3);
}
.single-main .left .post-context .post-prev-next span {
    color: var(--text-info);
}
.single-main .left .post-context .post-prev-next a:hover {
    color: var(--theme);
}
.single-main .right {
    width: 285px;
}

/* 评论区 */
.post-comments {
    width: 100%;
}
.post-comments img,
.post-comments video {
    max-width: 100%;
    vertical-align: bottom;
    border-radius: var(--radius);
}
.post-comments .navigation {
    display: none;
}
.post-comments .reply {
    text-align: right;
    margin-top: 5px;
}
.post-comments .nocomments {
    text-align: center;
    color: var(--text-info);
}
.post-comments #comments {
    display: none;
}
.post-comments .comment-reply-title {
    color: var(--text-sub);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;   
    border-top: 1px solid var(--border);
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tr3);
}
.post-comments .comment-reply-title::before {
    content: '\e767';
    font-family: 'iconfont';
    font-size: 22px;
}
.post-comments .comment-reply-title > a {
    transition: var(--tr3);
}
.post-comments .comment-reply-title #cancel-comment-reply-link {
    color: var(--text-info);
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
    transition: var(--tr3);
}
.post-comments .comment-reply-title #cancel-comment-reply-link:hover {
    color: var(--theme);
}
.post-comments .post-comments-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-sub);
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tr3);
}
.post-comments .post-comments-title::before {
    content: '\e7b2';
    font-family: 'iconfont';
    font-size: 22px;
}
.post-comments .post-comments-title a {
    color: var(--text-sub);
}
.post-comments ol li {
    width: 100%;
    background-color: var(--bgc-sub);
    word-break: break-all;
    word-wrap: break-word;
    border-radius: var(--radius);
}
.post-comments .depth-1 {
    padding: 15px;
    margin-top: 20px;
    background-color: var(--bgc-sub);
    border-radius: var(--radius);
    transition: var(--tr3);
}
.post-comments .depth-2,
.post-comments .depth-3,
.post-comments .depth-4,
.post-comments .depth-5 {
    padding: 10px 0 0 40px;
    border-radius: 0;
}
.post-comments .comment-body {
    font-size: 15px;
    color: var(--text-sub);
    width: 100%;
    border-top: 1px solid var(--border);
    padding-top: 10px;
    transition: var(--tr3);
}
.post-comments .depth-1 > .comment-body {
    border-top: 0;
    padding-top: 0;
}
.post-comments .comment-body .comment-awaiting-moderation {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    color: var(--theme);
    line-height: 1.5;
    margin-bottom: 5px;
}
.post-comments .comment-body p {
    width: 100%;
    font-size: 15px;
    color: var(--text-sub);
    word-break: break-all;
    word-wrap: break-word;
    transition: var(--tr3);
}
.post-comments .comment-body p a {
    color: var(--theme);
}
.post-comments .comment-body p a:hover {
    text-decoration: underline;
}
.post-comments #respond #reply-title > a {
    color: var(--theme);
    margin: 0 5px;
    transition: var(--tr3);
}
.post-comments #respond #reply-title a:hover {
    color: var(--theme);
}
.post-comments .comment-body .reply a {
    font-size: 12px;
    color: var(--text-info);
}
.post-comments .comment-body .reply a:hover {
    color: var(--theme);
    transition: var(--tr3);
}

.post-comments .comment-body .reply a {
    visibility: hidden;
    opacity: 0;
    transition: var(--tr3);
}
.post-comments .comment-body:hover .reply a {
    visibility: visible;
    opacity: 1;
}
.post-comments .comment-author {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.post-comments .comment-author img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.post-comments .fn,
.post-comments .fn a {
    color: var(--text);
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: var(--tr3);
}

.post-comments .comment-author .fn {
    font-style: normal;
}
.post-comments .comment-author .says {
    display: none;
}

.post-comments .comment-meta {
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.post-comments .comment-meta a {
    color: var(--text-info);
    transition: var(--tr3);
}
.post-comments .comment-meta a:first-child::before {
    content: '\e74b';
    font-family: 'iconfont';
    font-size: 16px;
}
.post-comments .comment-meta .comment-edit-link::before {
    content: '\e6f6';
    font-family: 'iconfont';
    font-size: 16px;
}
.post-comments .comment-meta .comment-edit-link:hover {
    color: var(--theme);
}
.post-comments .comment-meta a:first-child,
.post-comments .comment-meta .comment-edit-link {
    display: flex;
    align-items: center;
}

/* 回复区 */
.post-comments .comment-respond {
    border-radius: var(--radius);
}
.post-comments .comment-respond .comment-form .comment-notes {
    font-size: 16px;
    color: var(--text-sub);
    margin-bottom: 15px;
    text-align: center;
    display: none;
}
.post-comments .comment-respond .comment-form .comment-notes .required-field-message {
    display: none;
}
.post-comments .comment-respond .comment-form .comment-form-comment label {
    display: none;
}
.post-comments .comment-respond textarea {
    font-size: 14px;
    width: 100%;
    color: var(--text-sub);
    background-color: var(--bgc);
    resize: none;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    outline: none;
    margin-bottom: 10px;
    transition: var(--tr3);
}
.post-comments .comment-respond textarea:hover,
.post-comments .comment-respond textarea:focus {
    border: 1px solid var(--theme);
}
.post-comments .comment-respond textarea::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: var(--radius);
}
.post-comments .comment-respond textarea::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: var(--radius);
}
.post-comments .comment-respond textarea::-webkit-scrollbar:hover {
    cursor: default;
}
.post-comments .comment-respond .comment-form {
    font-size: 0;
}
.post-comments .comment-respond .comment-form-author,
.post-comments .comment-respond .comment-form-email,
.post-comments .comment-respond .comment-form-url {
    display: inline-block;
    width: 33.33%;
    height: auto;
}
.post-comments .comment-respond .comment-form-author {
    padding-right: 5px;
}
.post-comments .comment-respond .comment-form-email {
    padding: 5px;
}
.post-comments .comment-respond .comment-form-url {
    padding-left: 5px;
}
.post-comments .comment-respond .comment-form-author label,
.post-comments .comment-respond .comment-form-email label,
.post-comments .comment-respond .comment-form-url label {
    display: none;
}
.post-comments .comment-respond .comment-form-author input,
.post-comments .comment-respond .comment-form-email input,
.post-comments .comment-respond .comment-form-url input {
    outline: none;
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: var(--bgc);
    color: var(--text-sub);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: var(--tr3);
}
.post-comments .comment-respond .comment-form-author input:hover,
.post-comments .comment-respond .comment-form-email input:hover,
.post-comments .comment-respond .comment-form-url input:hover,
.post-comments .comment-respond .comment-form-author input:focus,
.post-comments .comment-respond .comment-form-email input:focus,
.post-comments .comment-respond .comment-form-url input:focus {
    border: 1px solid var(--theme);
}
.post-comments .comment-respond .comment-form-cookies-consent {
    display: flex;
    align-items: center;
    margin: 10px 0 5px 0;
}
.post-comments .comment-respond .comment-form-cookies-consent input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.post-comments .comment-respond .comment-form-cookies-consent label {
    font-size: 14px;
    color: var(--text-sub);
    transition: var(--tr3);
}
.post-comments .comment-respond .form-submit {
    display: block;
    width: 100%;
    height: auto;
}
.post-comments .comment-respond .form-submit input {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 0;
    outline: none;
    width: 100%;
    height: 35px;
    color: var(--text-keep);
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    border-radius: var(--radius);
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    transition: var(--tr3);
}
.post-comments .comment-respond .form-submit input:hover {
    opacity: .8;
}

/* 登录用户高亮 */
.post-comments .byuser .fn,
.post-comments .byuser .fn a {
    display: flex;
    align-items: center;
}
/* 登录用户高亮end */

/* 博主高亮 */
.post-comments .master {
    /* color: var(--theme); */
}
.post-comments .comment-author .fn i {
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    color: var(--text-keep);
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub)); 
    padding: 2px 6px;
    border-radius: var(--radius-sub);
}
/* 博主高亮end */

.is-logined {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--border);
    transition: var(--tr3);
}
.is-logined .is-logined-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-sub);
    border-radius: var(--radius);
    font-size: 14px;
    color: var(--text-info);
    transition: var(--tr3);
}
.is-logined .is-logined-box a {
    margin: 0 5px;
    color: var(--text-keep);
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub)); 
    padding: 2px 8px;
    border-radius: var(--radius-sub);
    transition: var(--tr3);
}
.is-logined .is-logined-box a:hover {
    opacity: .8;
}

/* 翻页 */
.post-comments #post-comments-nav {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-comments #post-comments-nav a,
.post-comments #post-comments-nav span {
    display: block;
    width: 30px;
    height: 30px;
    color: var(--text-info);
    font-size: 14px;
    background-color: var(--border);
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    border-radius: var(--radius-sub);
    overflow: hidden;
    transition: var(--tr3);
}
.post-comments #post-comments-nav a:hover {
    background-color: var(--theme);
    color: var(--text-keep);
}
.post-comments #post-comments-nav .dots {
    background-color: var(--bgc-0);
    cursor: default;
}
.post-comments #post-comments-nav .current {
    cursor: default;
    color: var(--text-keep);
    background-color: var(--theme);
    overflow: hidden;
}
/* 评论区-end-------------------------------------------- */

.change-night {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 30px;
    bottom: 95px;
    border-radius: var(--radius);
    background-color: var(--bgc);
    border: 1px solid var(--border);
    box-shadow: var(--box-s);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    -webkit-animation: open .5s;
    animation: open .5s;
    transition: var(--tr3);
}
.change-night:hover {
    border: 1px solid var(--theme);
}
.change-night span {
    font-size: 20px;
    color: var(--text-info);
    margin-top: -1px;
    transition: var(--tr3);
    -webkit-animation: open .5s;
    animation: open .5s;
}
.change-night:hover span {
    color: var(--theme);
}

@media screen and (max-width: 1280px) {
    .single-top,
    .article-main {
        width: 100%;
        padding: 0 30px;
    }
}
@media screen and (max-width: 960px) {
    .single-top,
    .article-main {
        width: 100%;
        padding: 0 20px;
    }
    .single-main .left {
        width: 100%;
    }
    .single-main .right {
        display: none;
    }
    .post-comments .comment-body .reply a {
        visibility: visible;
        opacity: 1;
    }
    .post-comments .depth-2,
    .post-comments .depth-3,
    .post-comments .depth-4,
    .post-comments .depth-5 {
        padding: 10px 0 0 20px;
    }

    /* 目录树菜单按钮 */
    .post-menu-mb-btn {
        right: 20px;
        bottom: 142px;
        width: 41px;
        height: 41px;
        transition: var(--tr3);
    }
    #article-toc-mb {
        bottom: 193px;
    }

    /* 夜间模式按钮 */
    .article-toc-mb {
        right: 20px !important;
    }
    .change-night {
        width: 41px;
        height: 41px;
        right: 20px;
        bottom: 91px;
    }
}

@media screen and (max-width: 640px) {
    .single-top {
        margin-bottom: 15px;
    }
    .single-banner {
        border-bottom: 1px solid var(--border);
        padding-bottom: 15px;
    }
    .single-banner .single-title h1 {
        font-size: 24px;
    }
    .single-main .left {
        border: none;
    }

    /* 评论区 */
    .post-comments .fn,
    .post-comments .fn a {
        font-size: 15px;
    }
    .post-comments .comment-respond .comment-form-author,
    .post-comments .comment-respond .comment-form-email,
    .post-comments .comment-respond .comment-form-url {
        width: 100%;
        margin-bottom: 10px;
    }
    .post-comments .comment-respond .comment-form-author {
        padding-right: 0;
    }
    .post-comments .comment-respond .comment-form-email {
        padding: 0;
    }
    .post-comments .comment-respond .comment-form-url {
        padding-left: 0;
        margin-bottom: 5px;
    }
    .post-comments .comment-respond .comment-form-cookies-consent {
        display: flex;
        align-items: center;
        margin: 5px 0 10px 0;
    }
}

@keyframes open {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}