.single-top {
    margin-top: 70px;
}
.single-banner {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.single-banner .single-cate {
    margin: 20px 0 10px 0;
}
.single-banner .single-cate .single-cate-box {
    display: inline-block;
    padding: 2px 8px 3px 4px ;
    background-color: var(--theme-1);
    border-radius: 15px;
}
.single-banner .single-cate .single-cate-box span {
    font-size: 22px;
    color: var(--theme);
    vertical-align: middle;
}
.single-banner .single-cate .single-cate-box a {
    font-size: 12px;
    font-weight: 400;
    color: var(--theme);
}
.single-banner .single-title h1 {
    color: var(--text);
    margin-bottom: 15px;
}
.single-banner .single-detail {
    display: flex;
    align-items: center;
}
.single-banner .single-detail span,
.single-banner .single-detail span a {
    font-size: 14px;
    color: var(--text-info) !important;
    transition: var(--tr2);
}
.single-banner .single-detail span a:hover {
    color: var(--theme) !important;
}
.single-banner .single-detail img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.single-banner .single-detail span .post-edit-link {
    color: var(--theme) !important;
}
.single-banner .breadcrumb {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: var(--text-sub);
}
.single-banner .breadcrumb ul {
    display: flex;
}
.single-banner .breadcrumb ul li {
    margin-right: 5px;
    font-size: 14px;
    color: var(--text-info);
}
.single-banner .breadcrumb ul li a {
    color: var(--text-info);
    transition: var(--tr2);
}
.single-banner .breadcrumb ul li a:hover {
    color: var(--theme);
}

.single-main {
    display: grid;
    grid-template-columns: 240px 650px 310px;
    justify-content: center;
    margin-bottom: 20px;
}
.single-main .left {
    width: calc(100% - 20px);
}
.single-main .left .post-tip img {
    vertical-align: middle;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--radius);
    /* border: 1px solid var(--border); */
}
.single-main .left .post-tip i {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--text-info);
    padding-right: 10px;
}

/* 目录树------------------------------------------------------------- */
#article-toc {
    position: sticky;
    top: 90px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: var(--tr2);
}
#article-toc:hover {
    border: 1px solid var(--theme);
}
#article-toc #article-toc-title {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: var(--text);
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
    text-align: center;
}
#article-toc #article-toc-ul {
    margin-top: 10px;
    max-height: 50vh;
    overflow: auto;
}
#article-toc #article-toc-ul::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: var(--border);
}
#article-toc #article-toc-ul::-webkit-scrollbar-thumb {
    background-color: var(--theme-3);
}
#article-toc ul li {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}
#article-toc ul li a {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 4px;
    padding-left: 6px;
    border-radius: var(--radius-sub);
    transition: var(--tr2);
}
#article-toc ul li a:hover {
    color: var(--bgc);
    background: var(--theme);
    /* background: linear-gradient(to right, var(--theme), var(--theme-sub));  */
}
#article-toc #article-toc-ul .heading-level-1,
#article-toc #article-toc-ul .heading-level-2 {
    font-size: 15px;
}
#article-toc #article-toc-ul .heading-level-3 {
    margin-left: 10px;
    width: calc(100% - 10px);
}
#article-toc #article-toc-ul .heading-level-4,
#article-toc #article-toc-ul .heading-level-5,
#article-toc #article-toc-ul .heading-level-6 {
    margin-left: 20px;
    width: calc(100% - 20px);
}
#article-toc #article-toc-ul .heading-level-1 a,
#article-toc #article-toc-ul .heading-level-2 a {
    font-size: 15px;
}
#article-toc #article-toc-ul .heading-level-4 a,
#article-toc #article-toc-ul .heading-level-5 a,
#article-toc #article-toc-ul .heading-level-6 a {
    font-size: 13px;
}
#article-toc #article-toc-ul .heading-level-1 a,
#article-toc #article-toc-ul .heading-level-2 a,
#article-toc #article-toc-ul .heading-level-3 a,
#article-toc #article-toc-ul .heading-level-4 a,
#article-toc #article-toc-ul .heading-level-5 a,
#article-toc #article-toc-ul .heading-level-6 a {
    position: relative;
    overflow: hidden;
    transition: var(--tr2);
}
#article-toc #article-toc-ul .heading-level-1 a::before,
#article-toc #article-toc-ul .heading-level-2 a::before,
#article-toc #article-toc-ul .heading-level-3 a::before,
#article-toc #article-toc-ul .heading-level-4 a::before,
#article-toc #article-toc-ul .heading-level-5 a::before,
#article-toc #article-toc-ul .heading-level-6 a::before {
    content: '▸ ';
    font-weight: 400;
    color: var(--bgc);
    position: absolute;
    left: -10px;
    transition: var(--tr2);
}
#article-toc #article-toc-ul .heading-level-1 a:hover::before,
#article-toc #article-toc-ul .heading-level-2 a:hover::before,
#article-toc #article-toc-ul .heading-level-3 a:hover::before,
#article-toc #article-toc-ul .heading-level-4 a:hover::before,
#article-toc #article-toc-ul .heading-level-5 a:hover::before,
#article-toc #article-toc-ul .heading-level-6 a:hover::before {
    left: 5px;
    font-weight: 400;

}
#article-toc #article-toc-ul .heading-level-1 a:hover::before,
#article-toc #article-toc-ul .heading-level-2 a:hover::before,
#article-toc #article-toc-ul .heading-level-3 a:hover::before,
#article-toc #article-toc-ul .heading-level-4 a:hover::before,
#article-toc #article-toc-ul .heading-level-5 a:hover::before,
#article-toc #article-toc-ul .heading-level-6 a:hover::before {
    color: var(--bgc);
}
#article-toc #article-toc-ul .heading-level-1 a:hover,
#article-toc #article-toc-ul .heading-level-2 a:hover,
#article-toc #article-toc-ul .heading-level-3 a:hover,
#article-toc #article-toc-ul .heading-level-4 a:hover,
#article-toc #article-toc-ul .heading-level-5 a:hover,
#article-toc #article-toc-ul .heading-level-6 a:hover {
    color: var(--bgc);
    padding-left: 20px;
}

/* 移动端 */
.post-menu-mb-btn {
    display: none;
}
#article-toc-mb {
    display: none;
}
/* 目录树end------------------------------------------------------------- */

.single-main .center {
    padding: 0 20px;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
.single-main .center .post-content .post-tip {
    display: none;
}
.single-main .center .post-content .the-tag {
    overflow: hidden;
}
.single-main .center .post-content .the-tag span a {
    line-height: 25px;
    font-size: 13px;
    padding: 2px 6px;
    margin-right: 5px;
    border-radius: var(--radius-sub);
    color: var(--theme);
    background: var(--theme-1);
    border-radius: var(--radius-sub);
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    transition: var(--tr2);
}
.single-main .center .post-content .the-tag span a::before {
    content: '#';
    left: 0;
}
.single-main .center .post-content .the-tag span a:hover {
    background: var(--theme);
    /* background: linear-gradient(to right, var(--theme), var(--theme-sub));  */
    color: var(--bgc);
    text-decoration: none;
}
.single-main .center .post-content .the-end {
    color: var(--text-info);
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.single-main .center .post-context {
    border-top: 1px solid var(--border);
    padding-top: 20px;
    margin-top: 20px;
}
.single-main .center .post-context .post-prev-next {
    width: 100%;
    height: auto;
    /* padding: 0 15px; */
    /* background-color: var(--bgc-sub); */
    border-radius: var(--radius);
    border: 1px solid var(--border);
    transition: var(--tr2);
}
.single-main .center .post-context .post-prev-next:hover {
    border: 1px solid var(--theme);
}
.single-main .center .post-context .post-prev-next .post-prev,
.single-main .center .post-context .post-prev-next .post-next {
    width: 100%;
    height: 50%;
    font-size: 15px;
    padding: 0 15px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.single-main .center .post-context .post-prev-next .post-prev {
    border-bottom: 1px solid var(--border);
}
.single-main .center .post-context .post-prev-next span,
.single-main .center .post-context .post-prev-next a {
    color: var(--text-sub);
    padding: 10px 0;
    transition: var(--tr2);
}
.single-main .center .post-context .post-prev-next span {
    color: var(--text-info);
}
.single-main .center .post-context .post-prev-next a:hover {
    color: var(--theme);
}



/* 评论区--------------------------------------------- */
.post-comments {
    /* border-top: 1px solid var(--border); */
    padding-top: 20px;
    /* margin-top: 20px; */
}
.post-comments .post-comments-content {
    width: 100%;
    height: auto;
    /* background-color: var(--bgc-sub); */
}
.post-comments .post-comments-content .navigation {
    display: none;
}

.post-comments .post-comments-content .nocomments {
    text-align: center;
    color: var(--text-info);
}
.post-comments .post-comments-content #comments {
    display: none;
}
.post-comments .post-comments-content h3 {
    color: var(--text-sub);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 15px 0;   
    border-top: 1px solid var(--border);
    padding-top: 20px;
}
.post-comments .post-comments-content h3 > a {
    transition: var(--tr2);
}
.post-comments .post-comments-content h3 #cancel-comment-reply-link {
    color: var(--text-info);
    font-weight: 400;
    font-size: 12px;
    transition: var(--tr2);
}
.post-comments .post-comments-content h3 #cancel-comment-reply-link:hover {
    color: var(--theme);
}
.post-comments .post-comments-content h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-sub);
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
}
.post-comments .post-comments-content h2 a {
    color: var(--text-sub);
}
.post-comments .post-comments-content ol li {
    width: 100%;
    background-color: var(--bgc-sub);
    word-break: break-all;
    word-wrap: break-word;
    border-radius: var(--radius);
}
.post-comments .post-comments-content .depth-1 {
    padding: 15px;
    margin-top: 20px;
    background-color: var(--bgc-sub);
    border-radius: var(--radius);
}
.post-comments .post-comments-content .depth-2,
.post-comments .post-comments-content .depth-3,
.post-comments .post-comments-content .depth-4,
.post-comments .post-comments-content .depth-5 {
    padding: 15px 0 0 20px;
    margin-top: 10px;
    border-top: 1px solid var(--border);
    border-radius: 0;
}
.post-comments .post-comments-content .comment-body {
    width: 100%;
}
.post-comments .post-comments-content .comment-body .comment-awaiting-moderation {
    font-size: 14px;
    color: var(--text-sub);
}
.post-comments .post-comments-content .comment-body p {
    width: 100%;
    font-size: 15px;
    color: var(--text);
    margin-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.post-comments .post-comments-content #respond #reply-title > a {
    color: var(--theme);
    margin: 0 5px;
    transition: var(--tr2);
}
.post-comments .post-comments-content #respond #reply-title a:hover {
    color: var(--theme);
}
.post-comments .post-comments-content .comment-body .reply a {
    font-size: 14px;
    color: var(--text-info);
}
.post-comments .post-comments-content .comment-body .reply a:hover {
    color: var(--theme);
    transition: var(--tr2);
}
.post-comments .post-comments-content .comment-author {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    
}
.post-comments .post-comments-content .comment-author img {
    /* border-radius: var(--radius-sub); */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.post-comments .post-comments-content .fn,
.post-comments .post-comments-content .fn a {
    color: var(--text-sub);
    font-size: 15px;
    word-break: break-all;
    word-wrap: break-word;
}

.post-comments .post-comments-content .comment-author .fn {
    font-style: normal;
}
.post-comments .post-comments-content .comment-author .says {
    display: none;
}

.post-comments .post-comments-content .comment-meta {
    font-size: 14px;
    margin-bottom: 5px;
}

.post-comments .post-comments-content .comment-meta a {
    color: var(--text-info);
    transition: var(--tr2);
}
.post-comments .post-comments-content .comment-meta .comment-edit-link:hover {
    color: var(--theme);
}

/* 回复区 */
.post-comments .post-comments-content .comment-respond {
    border-radius: var(--radius);
}
.post-comments .post-comments-content .comment-respond .comment-form .comment-notes {
    font-size: 16px;
    color: var(--text-sub);
    margin-bottom: 15px;
    text-align: center;
    display: none;
}
.post-comments .post-comments-content .comment-respond .comment-form .comment-notes .required-field-message {
    display: none;
}
.post-comments .post-comments-content .comment-respond .comment-form .comment-form-comment label {
    display: none;
}
.post-comments .post-comments-content .comment-respond textarea {
    font-size: 14px;
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid var(--black-1);
    border-radius: var(--radius);
    outline: none;
    margin-bottom: 10px;
    transition: var(--tr2);
}
.post-comments .post-comments-content .comment-respond textarea:hover {
    border: 1px solid var(--theme);
}
.post-comments .post-comments-content .comment-respond textarea:focus {
    background-color: var(--bgc);
    border: 1px solid var(--theme);
    box-shadow: 0 0 0 1px var(--theme-sub);
}
.post-comments .post-comments-content .comment-respond textarea::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--border);
    border-radius: var(--radius);
}
.post-comments .post-comments-content .comment-respond textarea::-webkit-scrollbar-thumb {
    background-color: var(--theme-3);
    border-radius: var(--radius);
}
.post-comments .post-comments-content .comment-respond textarea::-webkit-scrollbar:hover {
    cursor: default;
}
.post-comments .post-comments-content .comment-respond .comment-form {
    font-size: 0;
}
.post-comments .post-comments-content .comment-respond .comment-form-author,
.post-comments .post-comments-content .comment-respond .comment-form-email,
.post-comments .post-comments-content .comment-respond .comment-form-url {
    display: inline-block;
    width: 33.33%;
    height: auto;
}
.post-comments .post-comments-content .comment-respond .comment-form-author {
    padding-right: 5px;
}
.post-comments .post-comments-content .comment-respond .comment-form-email {
    padding: 5px;
}
.post-comments .post-comments-content .comment-respond .comment-form-url {
    padding-left: 5px;
}
.post-comments .post-comments-content .comment-respond .comment-form-author label,
.post-comments .post-comments-content .comment-respond .comment-form-email label,
.post-comments .post-comments-content .comment-respond .comment-form-url label {
    display: none;
}
.post-comments .post-comments-content .comment-respond .comment-form-author input,
.post-comments .post-comments-content .comment-respond .comment-form-email input,
.post-comments .post-comments-content .comment-respond .comment-form-url input {
    outline: none;
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid var(--black-1);
    border-radius: var(--radius);
    transition: var(--tr2);
}
.post-comments .post-comments-content .comment-respond .comment-form-author input:hover,
.post-comments .post-comments-content .comment-respond .comment-form-email input:hover,
.post-comments .post-comments-content .comment-respond .comment-form-url input:hover {
    border: 1px solid var(--theme);
}
.post-comments .post-comments-content .comment-respond .comment-form-author input:focus,
.post-comments .post-comments-content .comment-respond .comment-form-email input:focus,
.post-comments .post-comments-content .comment-respond .comment-form-url input:focus {
    background-color: var(--bgc);
    border: 1px solid var(--theme);
    box-shadow: 0 0 0 1px var(--theme-sub);
}
.post-comments .post-comments-content .comment-respond .comment-form-cookies-consent {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.post-comments .post-comments-content .comment-respond .comment-form-cookies-consent input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.post-comments .post-comments-content .comment-respond .comment-form-cookies-consent label {
    font-size: 14px;
    color: var(--text-sub);
}
.post-comments .post-comments-content .comment-respond .form-submit {
    display: block;
    width: 100%;
    height: auto;
}
.post-comments .post-comments-content .comment-respond .form-submit input {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 0;
    outline: none;
    width: 100%;
    height: 35px;
    color: var(--bgc);
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    border-radius: var(--radius);
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    transition: var(--tr2);
}
.post-comments .post-comments-content .comment-respond .form-submit input:hover {
    opacity: .8;
}

/* 登录用户高亮 */
.post-comments .post-comments-content .byuser .fn,
.post-comments .post-comments-content .byuser .fn a {
    display: flex;
    align-items: center;
}
/* 登录用户高亮end */

/* 博主高亮 */
.post-comments .post-comments-content .master {
    color: var(--theme);
}
.post-comments .post-comments-content .comment-author .fn i {
    margin-left: 10px;
    font-size: 13px;
    font-style: normal;
    color: var(--bgc);
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub)); 
    padding: 2px 8px;
    border-radius: var(--radius-sub);
    cursor: default;
}

/* 博主高亮end */
.is-logined {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
}
.is-logined .is-logined-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-sub);
    border-radius: var(--radius);
    font-size: 14px;
    color: var(--text-info);


}
.is-logined .is-logined-box a {
    margin: 0 5px;
    color: var(--bgc);
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub)); 
    padding: 2px 8px;
    border-radius: var(--radius-sub);
    transition: var(--tr2);
}
.is-logined .is-logined-box a:hover {
    opacity: .8;
}

/* 翻页 */
.post-comments .post-comments-content #post-comments-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-comments .post-comments-content #post-comments-nav a,
.post-comments .post-comments-content #post-comments-nav span {
    display: block;
    width: 30px;
    height: 30px;
    color: var(--text-info);
    font-size: 14px;
    background-color: var(--border);
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    border-radius: var(--radius-sub);
    overflow: hidden;
    transition: var(--tr2);
}
.post-comments .post-comments-content #post-comments-nav a:hover {
    background-color: var(--theme);
    color: var(--bgc);
}
.post-comments .post-comments-content #post-comments-nav .dots {
    background-color: rgba(0 0 0 / 0);
    cursor: default;
}
.post-comments .post-comments-content #post-comments-nav .current {
    cursor: default;
    color: var(--bgc);
    background-color: var(--theme);
    overflow: hidden;
}
/* 评论区-end-------------------------------------------- */

.single-main .right {
    padding-left: 20px;
}

@media screen and (max-width: 1280px) {
    .single-top {
        width: 960px;
    }
    .article-main .right {
        display: none;
    }
    .article-main {
        width: 100%;
        justify-content: center;
        grid-template-columns: 240px 720px;
    }
    
    .article-main .center {
        padding: 0 0 0 20px;
        border-right: 0;
    }
}
@media screen and (max-width: 1030px) {
    .single-top {
        width: 100%;
        padding: 0 30px;
    }
    .article-main {
        width: 100%;
        padding: 0 30px;
        justify-content: center;
        grid-template-columns: 240px calc(100% - 240px);
    }
}
@media screen and (max-width: 960px) {
    .single-top {
        width: 100%;
        padding: 0 20px;
    }
    .article-main {
        padding: 0 20px;
        grid-template-columns: 100%;
    }
    .single-main .left {
        display: none;
    }
    .single-main .center {
        border-left: 0;
        padding-left: 0;
    }

    /* 移动端菜单按钮 */
    .post-menu-mb-btn {
        display: block;
        position: fixed;
        right: 40px;
        bottom: 100px;
        background-color: var(--bgc);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgb(28 31 35 / 3%), 0 16px 48px 8px rgb(28 31 35 / 8%);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        transition: var(--tr3);
    }
    .post-menu-mb-btn-on {
        visibility: visible;
        opacity: 1;
    }
    
    .post-menu-mb-btn div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post-menu-mb-btn span {
        font-size: 24px;
        color: var(--theme);
    }

    /* 移动端菜单 */
    #article-toc-mb {
        display: block;
        position: fixed;
        width: 70%;
        height: auto;
        max-height: 50%;
        bottom: 160px;
        right: calc(-70% - 10px);
        margin-bottom: 0;
        background-color: var(--bgc);
        box-shadow: 0 0 10px rgb(28 31 35 / 10%);
        padding: 10px;
        border-radius: var(--radius);
        overflow: auto;
        z-index: 5;
        
        transition: var(--tr2);
    }
    .article-toc-mb {
        right: 40px !important;
    }
    #article-toc-mb ul,
    #article-toc-mb ul li {
        margin-left: 0;
    }
    #article-toc-mb #article-toc-title-mb {
        width: 100%;
        color: var(--text);
        font-size: 15px;
        font-weight: 700;
        border-bottom: 1px solid var(--border);
        padding-bottom: 8px;
        text-align: center;
    }
    #article-toc-mb #article-toc-ul-mb {
        margin-top: 10px;
    }
    #article-toc-mb ul li {
        list-style: none;
        margin-bottom: 5px;
        width: 100%;
        height: auto;
    }
    #article-toc-mb ul li a {
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 2px 6px;
        padding-left: 6px;
        border-radius: var(--radius-sub);
    }
    #article-toc-mb ul li a:hover {
        color: var(--bgc);
        background: var(--theme-sub);
        background: linear-gradient(to right, var(--theme), var(--theme-sub)); 
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 {
        font-size: 15px;
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-3 {
        margin-left: 10px;
        width: calc(100% - 10px);
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-4,
    #article-toc-mb #article-toc-ul-mb .heading-level-5,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 {
        margin-left: 20px;
        width: calc(100% - 20px);
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 a {
        font-size: 15px;
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-4 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-5 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 a {
        font-size: 13px;
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-3 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-4 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-5 a,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 a {
        color: var(--text-sub);
        position: relative;
        overflow: hidden;
        transition: var(--tr2);
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1 a:hover,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 a:hover,
    #article-toc-mb #article-toc-ul-mb .heading-level-3 a:hover,
    #article-toc-mb #article-toc-ul-mb .heading-level-4 a:hover,
    #article-toc-mb #article-toc-ul-mb .heading-level-5 a:hover,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 a:hover {
        color: var(--bgc);
        text-decoration: none;
        padding-left: 20px;
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1 a::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 a::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-3 a::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-4 a::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-5 a::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 a::before {
        content: '▸ ';
        font-weight: 400;
        color: var(--bgc);
        position: absolute;
        left: -10px;
        transition: var(--tr2);
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-3 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-4 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-5 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 a:hover::before {
        left: 5px;
        font-weight: 400;
    }
    #article-toc-mb #article-toc-ul-mb .heading-level-1 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-2 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-3 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-4 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-5 a:hover::before,
    #article-toc-mb #article-toc-ul-mb .heading-level-6 a:hover::before {
        color: var(--bgc);
    }
}

@media screen and (max-width: 640px) {
    .single-banner .single-title h1 {
        font-size: 24px;
    }
    .article-main .center .post-content .post-tip {
        /* display: block;
        width: 100%;
        height: auto; */
    }
    .article-main .center .post-content .post-tip img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: var(--radius);
    }
    .article-main .center .post-content .post-tip i {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: var(--text-sub);
        padding-right: 10px;
        font-size: 15px;
    }
    
    /* 移动端菜单按钮 */
    .post-menu-mb-btn {
        right: 20px;
        bottom: 95px;
        width: 41px;
        height: 41px;
        transition: var(--tr2);
    }
    .post-menu-mb-btn span {
        font-size: 22px;
    }
    #article-toc-mb {
        bottom: 150px;
    }
    .article-toc-mb {
        right: 20px !important;
    }

    /* 评论区 */
    .post-comments .post-comments-content .fn,
    .post-comments .post-comments-content .fn a,
    .post-comments  .post-comments-content .comment-body p {
        font-size: 15px;
    }
    .post-comments .post-comments-content .comment-respond .comment-form-author,
    .post-comments .post-comments-content .comment-respond .comment-form-email,
    .post-comments .post-comments-content .comment-respond .comment-form-url {
        width: 100%;
        margin-bottom: 10px;
    }
    .post-comments .post-comments-content .comment-respond .comment-form-author {
        padding-right: 0;
    }
    .post-comments .post-comments-content .comment-respond .comment-form-email {
        padding: 0;
    }
    .post-comments .post-comments-content .comment-respond .comment-form-url {
        padding-left: 0;
        /* margin-top: 3px; */
        margin-bottom: 5px;
    }
}