.single-main .left .post-content {
    font-size: 16px;
    color: var(--text);
}
.single-main .left .post-content > * {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    transition: var(--tr3);
}
.single-main .left .post-content > *:last-child {
    margin-bottom: 0;
}
.single-main .left .post-content a {
    color: var(--theme);
}
.single-main .left .post-content a:hover {
    text-decoration: underline;
}
.single-main .left .post-content p {
    line-height: 1.8;
    text-align: justify;
    white-space: normal;
    word-break : break-all;
    word-wrap: break-word;
}
.single-main .left .post-content .has-text-align-center {
    text-align: center;
}
.single-main .left .post-content .has-text-align-right {
    text-align: right;
}
.single-main .left .post-content h6,
.single-main .left .post-content h5,
.single-main .left .post-content h4,
.single-main .left .post-content h3,
.single-main .left .post-content h2,
.single-main .left .post-content h1 {
    text-align: justify;
    white-space: normal;
    word-break : break-all;
    word-wrap: break-word;
}

/* 附件 */
.single-main .left .post-content .attachment a {
    background: none;   
}
.single-main .left .post-content .attachment a img {
    margin: 0;
}
/* 附件end */
.single-main .left .post-content blockquote {
    background-color: var(--bgc-sub);
    border-left: 4px solid var(--theme-sub);
    padding: 10px;
    color: var(--text-sub);
    transition: var(--tr3);
}
.single-main .left .post-content blockquote p {
    color: var(--text-info);
}
.single-main .left .post-content blockquote cite {
    display: inline-block;
    font-size: 14px;
    color: var(--text-info);
    margin-top: 10px;
}
.single-main .left .post-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    vertical-align: bottom;
}
.single-main .left .post-content figcaption {
    font-size: 14px;
    font-style: italic;
    color: var(--text-info);
    margin-top: 5px;
    text-align: center;
}
.single-main .left .post-content .wp-block-audio {
    text-align: center;
}
.single-main .left .post-content .wp-block-video {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    background-color: #000;
    border-radius: var(--radius);
}
.single-main .left .post-content .wp-block-video video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.single-main .left .post-content .wp-block-video figcaption {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}
.single-main .left .post-content > .wp-block-image {
    text-align: center;
    width: 100%;
    height: 100%;
}
.single-main .left .post-content > .wp-block-image img {
    cursor: pointer;
}
.single-main .left .post-content .wp-block-gallery {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.single-main .left .post-content .wp-block-gallery .wp-block-image {
    cursor: pointer;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.single-main .left .post-content .wp-block-gallery .wp-block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    vertical-align: middle;
    position: absolute;
}
.single-main .left .post-content video {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    vertical-align: bottom;
}
.single-main .left .post-content .wp-block-table {
    overflow-x: auto;
}
.single-main .left .post-content .wp-block-table::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--border);
    border-radius: var(--radius);
}
.single-main .left .post-content .wp-block-table::-webkit-scrollbar-thumb {
    background-color: var(--theme-3);
    border-radius: var(--radius);
}
.single-main .left .post-content .wp-block-table::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-sub);
}
.single-main .left .post-content table {
    width: 100%;
    border-collapse: collapse;
}
.single-main .left .post-content tr:nth-child(odd) {
    background-color: var(--bgc-sub);
    transition: var(--tr3);
}
.single-main .left .post-content table, 
.single-main .left .post-content th, 
.single-main .left .post-content td {
    font-size: 15px;
    border: 1px solid var(--border);
    transition: var(--tr3);
}
.single-main .left .post-content th, 
.single-main .left .post-content td {
    padding: 10px;
    text-align: left;
}
.single-main .left .post-content th {
    background-color: var(--theme-sub);
    color: var(--text-keep);
}
.single-main .left .post-content td a {
    text-decoration: underline;
    transition: var(--tr3); 
}
/* a标签hover效果//////////////////////////////////////////////////////////// */
/* .single-main .left .post-content a::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--theme);
    transition: var(--tr3);
}
.single-main .left .post-content a:hover::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: var(--theme-3);
} */
/* a标签hover效果end/////////////////////////////////////////////////////////// */
.single-main .left .post-content > .wp-block-image a {
    display: inline-block;
    outline: 0;
}
.single-main .left .post-content > .wp-block-image a:before {
    display: none;
}
.single-main .left .post-content ul,
.single-main .left .post-content ol {
    margin-left: 20px;
}
.single-main .left .post-content ul {
    display: flex;
    flex-direction: column;
}
.single-main .left .post-content ul li{
    list-style: disc;
}
.single-main .left .post-content ol li {
    list-style: lower-greek;
}
.single-main .left .post-content ul li,
.single-main .left .post-content ol li {
    line-height: 1.8;
    margin-left: 20px;
    width: calc(100% - 40px);
    word-break : break-all;
    word-wrap: break-word;
}
.single-main .left .post-content pre {
    max-height: 512px;
    font-family: 'Consolas', 'Courier New', 'monospace';
    border-radius: var(--radius);
    overflow: auto;
}
.single-main .left .post-content pre code {
    font-size: 14px;
    line-height: 1.5;
}
.single-main .left .post-content .wp-block-preformatted {
    font-size: 14px;
    color: var(--text-sub);
    background-color: var(--bgc-sub);
    padding: 10px;
}
.single-main .left .post-content p code,
.single-main .left .post-content li code {
    border-radius: var(--radius-sub);
    background-color: var(--theme-1);
    color: var(--theme);
    font-size: 14px;
    padding: 2px 4px;
}
.single-main .left .post-content code {
    font-family: 'PingFang SC','Consolas', 'Courier New';
}
.single-main .left .post-content p img {
    width: 100%;
    height: 100%;
    vertical-align: sub;
}
.single-main .left .post-content .wp-block-button {
    margin-bottom: 15px;
}
.single-main .left .post-content .wp-block-button__link {
    text-decoration: none;
    cursor: pointer;
    line-height: 3;
    padding: 6px 15px;
    border-radius: var(--radius-sub);
    color: var(--text-keep);
    font-size: 14px;
    background: var(--theme-sub); 
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    transition: var(--tr3);  
}
.single-main .left .post-content .wp-block-button__link:hover {
    color: var(--text-keep);
    opacity: .8;
    text-decoration: none;
}
.single-main .left .post-content .wp-block-button__link::before {
    display: none;
}

/* 文字高亮///////////////////////////////////////////////////////// */
.single-main .left .post-content .has-black-color {
    color: #000;
}
.single-main .left .post-content .has-cyan-bluish-gray-color {
    color: #abb8c3;
}
.single-main .left .post-content .has-white-color {
    color: var(--text-keep);
}
.single-main .left .post-content .has-pale-pink-color {
    color: #f78da7;
}
.single-main .left .post-content .has-vivid-red-color {
    color: #cf2e2e;
}
.single-main .left .post-content .has-luminous-vivid-orange-color {
    color: #ff6900;
}
.single-main .left .post-content .has-luminous-vivid-amber-color {
    color: #fcb900;
}
.single-main .left .post-content .has-light-green-cyan-color {
    color: #7bdcb5;
}
.single-main .left .post-content .has-vivid-green-cyan-color {
    color: #00d084;
}
.single-main .left .post-content .has-pale-cyan-blue-color {
    color: #8ed1fc;
}
.single-main .left .post-content .has-vivid-cyan-blue-color {
    color: #0693e3;
}
.single-main .left .post-content .has-vivid-purple-color {
    color: #9b51e0;
}
/* 文字代码end//////////////////////////////////////////////////////// */

/* h标签样式1/////////////////////////////////////////////////////////*/
.single-main .left .post-content h6,
.single-main .left .post-content h5,
.single-main .left .post-content h4,
.single-main .left .post-content h3,
.single-main .left .post-content h2,
.single-main .left .post-content h1 {
    margin-bottom: 25px;
    line-height: 1.8;
    transition: var(--tr3);
}
.single-main .left .post-content h6 {
    font-size: 15px;
    color: var(--text);
    font-weight: 400;
    position: relative;
}
.single-main .left .post-content h5 {
    font-size: 15px;
    color: var(--text);
    position: relative;
}
.single-main .left .post-content h4 {
    font-size: 15px;
    color: var(--text);
    position: relative;
 
}
.single-main .left .post-content h3 {
    font-size: 16px;
    color: var(--text);
    position: relative;
}
.single-main .left .post-content h2 {
    font-size: 18px;
    color: var(--text);
    position: relative;
}
.single-main .left .post-content h1 {
    font-size: 20px;
    color: var(--text);
    position: relative;

}
.single-main .left .post-content h4::after,
.single-main .left .post-content h3::after,
.single-main .left .post-content h2::after,
.single-main .left .post-content h1::after {
    content: '';
    width: 10%;
    height: 4px;
    position: absolute;
    bottom: -4px;
    left: 0;
    border-radius: var(--radius);
    background-color: var(--theme);
    box-shadow: 1px 1px 3px -1px var(--theme-sub);
    transition: var(--tr3);
}
.single-main .left .post-content h4::after {
    width: 30px;
}
.single-main .left .post-content h3::after{
    width: 40px;
}
.single-main .left .post-content h2::after{
    width: 50px;
}
.single-main .left .post-content h1::after{
    width: 60px;
}

/* 动画 */
/* .single-main .left .post-content h4:hover::after {
    width: 38px;
    background-color: var(--theme-sub);
}
.single-main .left .post-content h3:hover::after {
    width: 48px;
    background-color: var(--theme-sub);
}
.single-main .left .post-content h2:hover::after {
    width: 58px;
    background-color: var(--theme-sub);
}
.single-main .left .post-content h1:hover::after {
    width: 68px;
    background-color: var(--theme-sub);
} */
/* 动画end */

/* h标签样式1end///////////////////////////////////////////////////////////*/

/* h标签样式2//////////////////////////////////////////////////////////////*/
/* .single-main .left .post-content h6 {
    font-size: 15px;
    color: var(--text-sub);
    font-weight: 400;
    position: relative;
    padding-left: 20px;
}
.single-main .left .post-content h5 {
    font-size: 15px;
    color: var(--text-sub);
    position: relative;
    padding-left: 20px;
}
.single-main .left .post-content h4 {
    font-size: 15px;
    color: var(--text-sub);
    position: relative;
    padding-left: 20px;
}
.single-main .left .post-content h3 {
    font-size: 16px;
    color: var(--text-sub);
    position: relative;
    padding-left: 20px;
}
.single-main .left .post-content h2 {
    font-size: 18px;
    color: var(--text-sub);
    position: relative;
    padding-left: 20px;
}
.single-main .left .post-content h1 {
    font-size: 20px;
    color: var(--text-sub);
    position: relative;
    padding-left: 20px;
}
.single-main .left .post-content h4,
.single-main .left .post-content h3,
.single-main .left .post-content h2,
.single-main .left .post-content h1 {
    line-height: 1.8;
}
.single-main .left .post-content h6::after,
.single-main .left .post-content h5::after,
.single-main .left .post-content h4::after,
.single-main .left .post-content h3::after,
.single-main .left .post-content h2::after,
.single-main .left .post-content h1::after {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: var(--radius);
    background-color: var(--theme);
    box-shadow: 1px 1px 3px -1px var(--theme-sub);
}  */
/* h标签样式2end/////////////////////////////////////////////////////////////*/

@media screen and (max-width: 640px) {
    .single-main .left .post-content {
        font-size: 15px;
    }
}