.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 40px;
	height: 45px;
	width: 45px;
	cursor: pointer;
	border-radius: var(--radius);
	border: 1px solid var(--border);
	background-color: var(--bgc);
	box-shadow: var(--box-s);
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: var(--tr3) ;
	transition: var(--tr3);
	z-index: 5;
}
.progress-wrap:hover {
	border: 1px solid var(--theme);
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap svg,
.progress-wrap svg path { 
	display: none;
}
.progress-wrap::before {
	content: '\e64a';
	font-family: 'iconfont';
	font-size: 26px;
	width: 100%;
	height: 100%;
	margin-top: -1px;
	color: var(--text-info);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--tr3);
}
.progress-wrap:hover::before {
	color: var(--theme);
}
@media screen and (max-width: 960px) {
	.progress-wrap {
		right: 20px;
		bottom: 40px;
		height: 41px;
		width: 41px;
	}
}