.footer {
    height: auto;
    background-color: var(--bg);
    border-top: 1px solid var(--border);
    padding-bottom: 30px;
}
.footer .footer-top {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.footer .footer-top .author {
    text-align: end;
}
.footer .footer-top span,
.footer .footer-top span a {
    font-size: 14px;
    color: var(--text-info);
    transition: var(--tr2);
}
.footer .footer-top span a:hover {
    color: var(--theme);
}
.footer .footer-bottom {
    border-top: 1px solid var(--border);
}
.footer .footer-bottom img{
    height: 64px;
    margin-top: 20px;
}
.footer .footer-bottom p, 
.footer .footer-bottom li{
    font-size: 13px;
    color: var(--text-info);
    margin-top: 20px;
}
.footer .footer-bottom .fl,
.footer .footer-bottom li
{
    display: inline;
}
.footer .footer-bottom li {
    margin-right: 5px;
}
.footer .footer-bottom li a {
    color: var(--text-info);
    transition: var(--tr2);
}
.footer .footer-bottom li a:hover {
    color: var(--theme);
}

@media screen and (max-width: 1280px) {
    .footer .container{
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 960px) {
    .footer {
        padding: 0 20px;
    }
    .footer-power, .author {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    .footer .footer-top {
        grid-template-columns: 1fr;
        text-align: center;
        height: 80px;
        align-content: center;
    }
    .footer .footer-top .author {
        text-align: center;
    }
    .footer .footer-bottom {
        display: none;
    }
}