.footer {
    background-color: var(--bg);
    border-top: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .footer-box,
.footer .footer-box a {
    font-size: 14px;
}
.footer .footer-box {
    display: flex;
    flex-direction: column;
    line-height: 2;
    color: var(--text-info);
    text-align: center;
}
.footer .footer-box a {
    color: var(--text-info);
    transition: var(--tr2);
}
.footer .footer-box a:hover {
    color: var(--theme);
}
.footer .footer-box .upyun img {
    vertical-align: middle;
    height: 28px;
    margin-top: -3px;
}


@media screen and (max-width: 1280px) {
    .footer .footer-box {
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    .footer {
        padding: 20px;
    }
    .footer .footer-box,
    .footer .footer-box a {
        font-size: 12px;
    }
}