.wrapper .banner {
    width: 1200px;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../static/img/banner.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: var(--bgc); */
    z-index: -10;
    padding: 0 30px;
}
.wrapper {
    margin-top: 70px;
    width: 100%;
    height:200px;
    border-bottom: 1px solid var(--border);
}
.content-wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.content-wrapper .text-wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.content-wrapper .text-wrapper h2 {
    color: var(--text);
    line-height: 1.5;
    margin-bottom: 5px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.content-wrapper .text-wrapper i {
    color: var(--text-sub);
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content {
    /* background-color: var(--bgc); */
}
.main-content .notice {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: var(--notice);
    border: 8px solid var(--notice);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-content .notice::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.main-content .notice span {
    font-size: 22px;
    color: var(--text);
    margin-right: 10px;
}
.main-content .notice p {
    font-size: 15px;
    color: var(--text-sub);
}

.content .title-part {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}
.content .title-part p {
    max-width: calc(100% - 220px);
    line-height: 50px;
    border-bottom: 3px solid var(--theme);
    font-size: 15px;
    /* font-weight: 700; */
    color: var(--text-sub);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content .title-part p span {
    color: var(--theme);
}

.page-result {
    width: 100%;
    height: auto;
}
.page-result .page-result-detail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.page-result .page-result-detail img {
    width: 200px;
    max-width: 100%;
}
.page-result .page-result-detail p {
    color: var(--text-info);
    font-size: 14px;
}

/* 卡片模式 */
.content .main-part {
    width: 100%;
}
.content .main-part > ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px 20px;
}
.content .main-part > ul > li {
    width: 100%;
    background-color: var(--bgc);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: 10px;
    overflow: hidden;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.content .main-part > ul > li:hover {
    /* box-shadow: 0 0 10px 1px var(--black-1); */
}
.content .main-part ul li .home-pic {
    width: 100%;
    height: 204px;
    overflow: hidden;
    border-radius: var(--radius);
    position: relative;
}
.content .main-part ul li .home-pic .post-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: var(--bgc);
    padding: 2px 6px;
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    border-radius: var(--radius) 0 var(--radius) 0;
}
.content .main-part ul li .home-pic > a {
    display: block;
    width: 100%;
    height: 100%;
}
.content .main-part ul li .home-pic .mask-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgc-0);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.content .main-part ul li .home-pic:hover .mask-pic {
    background-color: var(--black-3);
    opacity: 1;
}
.content .main-part ul li .home-pic .mask-pic span {
    color: var(--bgc);
    font-size: 42px;
}
.content .main-part ul li .home-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-detail .home-cate {
    margin: 6px 0 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-detail .home-cate a {
    font-size: 14px;
    color: var(--theme);
}
.home-detail .home-title {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
}
.home-detail .home-title a {
    font-size: 14px;
    color: var(--text);
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.home-detail .home-title a:hover {
    color: var(--theme);
}
.home-detail .home-msg {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--text-info);
}
.home-detail .home-msg span {
    margin: 0 5px;
}
.home-detail .home-msg .home-comments a {
    font-size: 12px;
    color: var(--text-info);
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.home-detail .home-msg .home-comments a:hover {
    color: var(--theme);
}
.home-detail .home-msg img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
/* 卡片模式end */

/* 博客模式 */
.home-2 {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.home-2 .home-2-mian {
    width: calc(100% - 330px);
}
.home-2 .home-2-mian ul {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    overflow: hidden;
}
.home-2 .home-2-mian ul li {
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: var(--bgc);
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}

.home-2 .home-2-mian ul li:last-child {
    margin-bottom: 0;
}
.home-2 .home-2-mian ul li .home-2-pic {
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}
.home-2 .home-2-mian ul li .home-2-pic .post-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: var(--bgc);
    padding: 2px 6px;
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    border-radius: var(--radius) 0 var(--radius) 0;
}
.home-2 .home-2-mian ul li .home-2-pic a {
    display: block;
    width: 214px;
    height: 140px;
}
.home-2 .home-2-mian ul li .home-2-pic .mask-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgc-0);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.home-2 .home-2-mian ul li .home-2-pic:hover .mask-pic {
    background-color: var(--black-3);
    opacity: 1;
}
.home-2 .home-2-mian ul li .home-2-pic .mask-pic span {
    color: var(--bgc);
    font-size: 42px;
}
.home-2 .home-2-mian ul li .home-2-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.home-2 .home-2-mian ul li .home-2-detail {
    width: calc(100% - 214px);
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-2 .home-2-mian ul li .home-2-detail h2 {
    display: flex;
    align-items: center;
}
.home-2 .home-2-mian ul li .home-2-detail h2 span {
    font-size: 20px;
    font-weight: 400;
    color: var(--theme);
}
.home-2 .home-2-mian ul li .home-2-detail h2 a {
    font-weight: 400;
    font-size: 18px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}

.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-top-abstract p {
    color: var(--text-info);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate {
    margin-bottom: 8px;
    overflow-x: auto;
    white-space: nowrap;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a {
    font-size: 13px;
    color: var(--theme);
    margin-right: 5px;
    padding: 1px 6px;
    border-radius: var(--radius-sub);
    background: var(--theme-1);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a:hover {
    color: var(--bgc);
    background-color: var(--theme);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg {
    color: var(--text-info);
    font-size: 14px;
    display: flex;
    align-items: center;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg span {
    margin: 0 5px;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg a {
    color: var(--text-info);
    font-size: 14px;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg a:hover {
    color: var(--theme);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.home-2 .home-2-sidebar {
    width: 310px;
    padding-left: 20px;
    border-left: 1px solid var(--border);
}
/* 博客模式end */

.page-nav-bar {
    width: 100%;
    height: 80px;
    /* background-color: var(--bgc); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.page-nav-bar .page-nav {
    font-size: 15px;
    cursor: default;
    display: flex;
}
.page-nav-bar .page-nav .page-numbers {
    display: block;
    width: 30px;
    height: 30px;
    color: var(--text-info);
    font-size: 14px;
    background-color: var(--border);
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    border-radius: var(--radius-sub);
    overflow: hidden;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.page-nav-bar .page-nav .page-numbers:hover {
    background-color: var(--theme);
    color: var(--bgc);
}
.page-nav-bar .page-nav .current {
    color: var(--bgc);
    background-color: var(--theme);
    overflow: hidden;
}
.page-nav-bar .page-nav .dots {
    background-color: var(--bgc-0);
}
.page-nav-bar .page-nav .dots:hover {
    background-color: var(--bgc-0);
    color: var(--text-info);
}

/* mobile */
@media screen and (max-width: 1280px) {
    .wrapper .banner {
        max-width: calc(100% - 60px);
    }
    .main {
        width: 100%;
        padding: 0 30px;
    }
    .content .main-part ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home-2 {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) { 
    .content-wrapper {
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    .wrapper .banner {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .main-content .notice {
        margin-top: 20px;
    }
    .main {
        padding: 0 20px;
    }
    .content .title-part p {
        font-size: 14px;
        max-width: 100%;
    }
    .content .main-part ul {
        grid-template-columns: 1fr 1fr;
    }
    .home-2-sidebar {
        display: none;
    }
    .home-2 .home-2-mian {
        width: 100%;
    }
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg .home-2-detail-author {
        display: block;
    }
}
@media screen and (max-width: 640px) {
    .wrapper .banner,
    .wrapper {
        height: 150px;
    }
    .content-wrapper .text-wrapper h2 {
        font-size: 20px;
    }
    .content-wrapper .text-wrapper i {
        font-size: 15px;
    }
    .home-2 .home-2-mian ul {
        border: 0;
    }
    .home-2 .home-2-mian ul li {
        margin-bottom: 20px;
        padding: 0;
    }
    .home-2 .home-2-mian ul li .home-2-pic a {
        width: 130px;
        height: 100px;
    }
    .home-2 .home-2-mian ul li .home-2-pic .mask-pic span {
        font-size: 32px;
    }
    .home-2 .home-2-mian ul li .home-2-detail {
        width: calc(100% - 130px);
        padding-left: 10px;
        padding-right: 0;
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate {
        /* margin-bottom: 5px; */
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a {
        margin-right: 2px;
        font-size: 12px;
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-top-abstract,
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg span,
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg .home-2-detail-views,
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg .home-2-detail-comments {
        display: none;
    }
    .home-2 .home-2-mian ul li .home-2-detail h2 a {
        font-size: 15px;
    }
    .page-nav-bar .page-nav {
        font-size: 12px;
    }
}
@media screen and (max-width: 570px) {
    .main-content .notice {
        height: 42px;
        padding: 0 3px;
    }
    .main-content .notice span {
        font-size: 20px;
    }
    .main-content .notice p {
        font-size: 14px;
    }
    .content .main-part ul {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    
}