.wrapper-home {
    margin-top: 100px; 
}

/* swiper */
.wrapper-home .swiper {
    --swiper-navigation-size: 24px;
    --swiper-navigation-color: var(--bgc);
    
    border-radius: var(--radius);
    overflow: hidden;
}
.wrapper-home .swiper-pagination {
    bottom: 20px !important;
}
.wrapper-home .swiper-button-prev {
    left: 0;
}
.wrapper-home .swiper-button-next {
    right: 0;
}
.wrapper-home .swiper-button-prev,
.wrapper-home .swiper-button-next {
    transform: translateY(-50%);
    margin-top: 0;
    padding: 25px 20px;
    visibility: hidden;
    opacity: 0;
    color: var(--text-keep);
    transition: var(--tr3);
}
.wrapper-home .swiper-button-prev:hover,
.wrapper-home .swiper-button-next:hover {
    background-color: var(--mask-5);
}
.wrapper-home .swiper:hover .swiper-button-prev,
.wrapper-home .swiper:hover .swiper-button-next {
    visibility: visible;
    opacity: 1;
}
.wrapper-home  .swiper-pagination-bullet {
    height: 6px;
    background-color: var(--text-keep);
    padding: 0 10px;
    border-radius: 8px;
    transition: var(--tr3);
}
.wrapper-home .swiper-pagination-bullet-active {
    padding: 0 20px;
    transition: var(--tr3);
}
.wrapper-home .swiper-slide {
    background-color: var(--bgc);
    width: 100%;
    height: 0;
    border-radius: var(--radius);
    padding-bottom: 40%;
    position: relative;
    overflow: hidden;
}
.wrapper-home .swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    vertical-align: middle;
}
.wrapper-home .swiper-slide .swiper-img-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--mask-3);
    background: linear-gradient(to top, var(--mask-3), var(--bgc-0));
    border-radius: var(--radius);
}
.wrapper-home .swiper-slide .title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 0 5px  var(--mask-3);
    color: var(--text-keep);
    line-height: 1.5;
    position: absolute;
    bottom: 15%;
    padding: 0 50px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* swiper-end */

.wrapper .banner {
    width: 1200px;
    height: 200px;
    position: absolute;
    left: 50%;
    opacity: .5;
    transform: translateX(-50%);
    background-image: url('../static/img/banner.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: var(--bgc); */
    z-index: -10;
    padding: 0 30px;
}
.wrapper {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid var(--border);
    transition: var(--tr3);
}
.content-wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.content-wrapper .text-wrapper {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.content-wrapper .text-wrapper h2 {
    color: var(--text);
    line-height: 1.5;
    margin-bottom: 5px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: var(--tr3);
}
.content-wrapper .text-wrapper i {
    color: var(--text-sub);
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: var(--tr3);
}
.main-content {
    margin-bottom: 20px;
}
.main-content .notice {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: var(--notice);
    border-radius: var(--radius);
    padding: 0 10px;
}
.main-content .notice .notice-box {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content .notice .notice-box::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.main-content .notice .notice-box span {
    font-size: 22px;
    color: var(--text);
    margin-right: 10px;
    transition: var(--tr3);
}
.main-content .notice .notice-box p {
    font-size: 15px;
    color: var(--text-sub);
    transition: var(--tr3);
}

.content .title-part {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.content .title-part p {
    max-width: calc(100% - 300px);
    padding-bottom: 5px;
    border-bottom: 3px solid var(--theme);
    font-size: 15px;
    color: var(--text-sub);
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: var(--tr3);
}
.content .title-part p span {
    color: var(--theme);
    display: flex;
    align-items: center;
}
.content .title-part .cate span::before {
    content: '\eac5';
    font-family: 'iconfont';
    margin-right: 3px;
}
.content .title-part .tag span::before {
    content: '#';
    font-family: 'iconfont';
}
.content .title-part .date span::before {
    content: '\e74b';
    font-family: 'iconfont';
    font-size: 18px;
}
.content .title-part .name span::before {
    content: '\e744';
    font-family: 'iconfont';
    font-size: 18px;
}
.content .title-part .search::before {
    content: '\e752';
    font-family: 'iconfont';
    margin-right: 3px;
}
.content .title-part .cate span,
.content .title-part .tag span,
.content .title-part .date span,
.content .title-part .name span {
    margin-right: 10px;
}

/* 卡片模式 */
.content .main-part {
    width: 100%;
}
.content .main-part > ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.content .main-part > ul > li {
    width: 100%;
    background-color: var(--bgc);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: 10px;
    overflow: hidden;
    transition: var(--tr3);
}
.content .main-part > ul > li:hover {
    border: 1px solid var(--theme);
}
.content .main-part ul li .home-pic {
    width: 100%;
    height: 205px;
    overflow: hidden;
    border-radius: var(--radius);
    position: relative;
}
.content .main-part ul li .home-pic .post-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: var(--text-keep);
    padding: 2px 8px;
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    border-radius: var(--radius) 0 var(--radius) 0;
    z-index: 1;
}
.content .main-part ul li .home-pic > a {
    display: block;
    width: 100%;
    height: 100%;
}
.content .main-part ul li .home-pic .mask-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgc-0);
    border-radius: var(--radius);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--tr3);
}
.content .main-part ul li .home-pic:hover .mask-pic {
    background-color: var(--mask-3);
    opacity: 1;
}
.content .main-part ul li .home-pic .mask-pic span {
    color: var(--text-keep);
    font-size: 42px;
}
.content .main-part ul li .home-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

.home-detail .home-cate {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 3px;
    overflow-x: auto;
    white-space: nowrap;
    cursor: default;
}
.home-detail .home-cate::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.home-detail .home-cate a {
    margin-right: 5px;
    font-size: 13px;
    color: var(--theme);
    padding: 2px 6px;
    background-color: var(--theme-1);
    border-radius: var(--radius-sub);
    transition: var(--tr3);
}
.home-detail .home-cate a::before {
    content: '\eac5';
    font-family: 'iconfont';
    margin-right: 3px;
}
.home-detail .home-cate a:hover {
    color: var(--text-keep);
    background-color: var(--theme);
}
.home-detail .home-title {
    width: 100%;
    height: 42px;
    color: var(--text);
    margin-bottom: 5px;
    line-height: 1.2;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: var(--tr3);
}
.home-detail .home-title a {
    font-size: 14px;
    color: var(--text);
    transition: var(--tr3);
}
.home-detail .home-title a:hover {
    color: var(--theme);
}
.home-detail .home-msg {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--text-info);
}
.home-detail .home-msg > a {
    border-radius: 50%;
}
.home-detail .home-msg span {
    margin: 0 5px;
}
.home-detail .home-msg .home-date::before {
    content: '\e74b';
    font-family: 'iconfont';
    font-size: 16px;
}
.home-detail .home-msg .home-watch::before {
    content: '\e745';
    font-family: 'iconfont';
    font-size: 18px;
}
.home-detail .home-msg .home-comments::before {
    content: '\e7b2';
    font-family: 'iconfont';
    font-size: 18px;
}
.home-detail .home-msg .home-date,
.home-detail .home-msg .home-watch,
.home-detail .home-msg .home-comments {
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.home-detail .home-msg .home-comments a {
    font-size: 12px;
    color: var(--text-info);
    transition: var(--tr3);
}
.home-detail .home-msg .home-comments a:hover {
    color: var(--theme);
}
.home-detail .home-msg img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}
/* 卡片模式end */

/* 博客模式 */
.home-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.home-2 .home-2-mian {
    width: calc(100% - 305px);
}
.home-2 .home-2-mian ul {
    /* overflow: hidden; */
}
.home-2 .home-2-mian ul li {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--bgc);
    transition: var(--tr3);
}
.home-2 .home-2-mian ul li:hover {
    border: 1px solid var(--theme);
}
.home-2 .home-2-mian ul li:last-child {
    margin-bottom: 0;
}
.home-2 .home-2-mian ul li .home-2-pic {
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}
.home-2 .home-2-mian ul li .home-2-pic .post-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: var(--text-keep);
    padding: 2px 8px;
    background: var(--theme-sub);
    background: linear-gradient(to right, var(--theme), var(--theme-sub));
    border-radius: var(--radius) 0 var(--radius) 0;
    z-index: 1;
}
.home-2 .home-2-mian ul li .home-2-pic a {
    display: block;
    width: 214px;
    height: 150px;
}
.home-2 .home-2-mian ul li .home-2-pic .mask-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgc-0);
    border-radius: var(--radius);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--tr3);
}
.home-2 .home-2-mian ul li .home-2-pic:hover .mask-pic {
    background-color: var(--mask-3);
    opacity: 1;
}
.home-2 .home-2-mian ul li .home-2-pic .mask-pic span {
    color: var(--text-keep);
    font-size: 42px;
}
.home-2 .home-2-mian ul li .home-2-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}
.home-2 .home-2-mian ul li .home-2-detail {
    width: calc(100% - 214px);
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-top-title {
    color: var(--text);
    transition: var(--tr3);
}
.home-2 .home-2-mian ul li .home-2-detail h2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.2;
    font-weight: 400;
    font-size: 17px;
}
.home-2 .home-2-mian ul li .home-2-detail h2 span {
    font-size: 20px;
    font-weight: 400;
    color: var(--theme);
}
.home-2 .home-2-mian ul li .home-2-detail h2 a {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    transition: var(--tr3);
}
.home-2 .home-2-mian ul li .home-2-detail h2 a:hover {
    color: var(--theme);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-top-abstract p {
    color: var(--text-info);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate {
    margin-bottom: 8px;
    height: 25px;
    overflow-x: auto;
    white-space: nowrap;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a {
    font-size: 13px;
    color: var(--theme);
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: var(--radius-sub);
    background: var(--theme-1);
    transition: var(--tr3);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a:hover {
    color: var(--text-keep);
    background-color: var(--theme);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a::before {
    content: '\eac5';
    font-family: 'iconfont';
    margin-right: 3px;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg {
    color: var(--text-info);
    font-size: 12px;
    display: flex;
    align-items: center;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg .home-2-detail-time::before {
    content: '\e74b';
    font-family: 'iconfont';
    font-size: 16px; 
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg .home-2-detail-views::before {
    content: '\e745';
    font-family: 'iconfont';
    font-size: 16px;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg .home-2-detail-comments::before {
    content: '\e7b2';
    font-family: 'iconfont';
    font-size: 16px;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg .home-2-detail-time,
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg .home-2-detail-views,
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg .home-2-detail-comments {
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg a {
    color: var(--text-info);
    font-size: 13px;
    transition: var(--tr3);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg > a {
    border-radius: 50%;
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg a:hover {
    color: var(--theme);
}
.home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

.home-2 .home-2-sidebar {
    width: 285px;
}
/* 博客模式-end */

.page-nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.page-nav-bar .page-nav {
    font-size: 15px;
    cursor: default;
    display: flex;
}
.page-nav-bar .page-nav .page-numbers {
    display: block;
    width: 30px;
    height: 30px;
    color: var(--text-info);
    font-size: 14px;
    background-color: var(--border);
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    border-radius: var(--radius-sub);
    overflow: hidden;
    transition: var(--tr3);
}
.page-nav-bar .page-nav .page-numbers:hover {
    background-color: var(--theme);
    color: var(--text-keep);
}
.page-nav-bar .page-nav .current {
    color: var(--text-keep);
    background-color: var(--theme);
    overflow: hidden;
}
.page-nav-bar .page-nav .dots {
    background-color: var(--bgc-0);
}
.page-nav-bar .page-nav .dots:hover {
    background-color: var(--bgc-0);
    color: var(--text-info);
}

/* have no more */
.haveNoMore {
    text-align: center;
    color: var(--text-info);
    margin-top: 20px;
}
.haveNoMore span {
    font-size: 14px;
}
/* have no more-end */

/* mobile */
@media screen and (max-width: 1280px) {
    .wrapper-home {
        width: 100%;
        padding: 0 30px;
    }
    .wrapper-home .swiper-slide .title {
        font-size: 24px;
        font-weight: 700;
    }

    .wrapper .content-wrapper .text-wrapper {
        width: calc(100% - 60px);
    }
    .wrapper .banner {
        width: calc(100% - 60px);
    }
    .main {
        width: 100%;
        padding: 0 30px;
    }
    .content .main-part ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home-2 {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) { 
    .content-wrapper {
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    /* swiper */
    .wrapper-home {
        width: 100%;
        padding: 0 20px;
        margin-top: 90px;
    }
    .wrapper-home .swiper-slide {
        padding-bottom: 50%;
    }
    .wrapper-home .swiper-slide .title {
        font-size: 20px;
        font-weight: 700;
    }
    /* swiper-end */

    .content-wrapper .text-wrapper {
        width: calc(100% - 40px);
    }
    .wrapper .banner {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .main-content .notice {
        margin-top: 20px;
    }
    .main {
        padding: 0 20px;
    }
    .content .title-part p {
        font-size: 14px;
        max-width: 100%;
    }
    .content .main-part ul {
        grid-template-columns: 1fr 1fr;
    }
    .home-2-sidebar {
        display: none;
    }
    .home-2 .home-2-mian {
        width: 100%;
    }
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg .home-2-detail-author {
        display: block;
    }
}
@media screen and (max-width: 640px) {
    /* swiper */
    .wrapper-home .swiper {
        --swiper-navigation-size: 14px;
    }
    .wrapper-home .swiper-button-prev,
    .wrapper-home .swiper-button-next {
        display: none;
    }
    .wrapper-home .swiper-pagination-bullet {
        height: 4px;
        border-radius: 6px;
        padding: 0 5px;
        margin: 0 2px !important;
    }
    .wrapper-home .swiper-pagination-bullet-active {
        padding: 0 10px;
        transition: var(--tr3);
    }
    .wrapper-home .swiper-pagination {
        bottom: 10px !important;
    }
    .wrapper-home .swiper-slide {
        padding-bottom: 60%;
    }
    .wrapper-home .swiper-slide .title {
        padding: 0 20px;
        font-size: 16px;
    }
    /* swiper-end */

    .wrapper .banner,
    .wrapper {
        height: 145px;
    }
    .content-wrapper .text-wrapper h2 {
        font-size: 20px;
    }
    .content-wrapper .text-wrapper i {
        font-size: 15px;
    }
    .main-content .notice {
        height: 42px;
    }
    .main-content .notice span {
        font-size: 20px;
    }
    .main-content .notice p {
        font-size: 14px;
    }  
    .content .main-part ul {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .content .main-part > ul > li {
        padding: 10px;
        border: 1px solid var(--border);
        transition: var(--tr3);
    }
    .content .main-part > ul > li:hover {
        border: 1px solid var(--theme);
    }
    .content .main-part > ul > li .home-detail {
        border-radius: var(--radius);
        border-top: 0;
    }
    .content .main-part > ul > li .home-detail .home-cate {
        margin-top: 0;
    }
    .content .main-part ul li .home-pic {
        border-radius: var(--radius);
        margin-bottom: 10px;
    }
    .content .main-part ul li .home-pic .mask-pic {
        border-radius: var(--radius);
    }

    .home-2 .home-2-mian ul {
        border: 0;
    }
    .home-2 .home-2-mian ul li {
        padding: 0;
        border: none;
    }
    .home-2 .home-2-mian ul li:hover {
        border: none;
    }
    .home-2 .home-2-mian ul li .home-2-pic a {
        width: 140px;
        height: 100px;
    }
    .home-2 .home-2-mian ul li .home-2-pic .mask-pic span {
        font-size: 32px;
    }
    .home-2 .home-2-mian ul li .home-2-detail {
        width: calc(100% - 130px);
        padding-left: 10px;
        padding-right: 0;
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate {
        margin-bottom: 5px;
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-cate a {
        margin-right: 2px;
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-bottom-msg img {
        width: 20px;
        height: 20px;
    }
    .home-2 .home-2-mian ul li .home-2-detail .home-2-detail-top-abstract,
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg .home-2-detail-comments,
    .home-2 .home-2-mian ul li .home-2-detail-bottom-msg .home-2-detail-comments::before {
        display: none !important;
    }

    .home-2 .home-2-mian ul li .home-2-detail h2 a {
        font-size: 15px;
    }
    .page-nav-bar .page-nav {
        font-size: 12px;
    }
}