.page-link {
    margin-top: 90px;
}
.linkcat {
    margin-bottom: 0 !important;
}
.linkcat h2 {
    display: none;
}
.linkcat ul {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.linkcat ul,
.linkcat ul li {
    margin: 0 !important;
    width: 100% !important;
}
.linkcat ul li {
    list-style: none !important;
    color: var(--text-info);
    font-size: 14px;
    margin-bottom: 20px;
    background-color: var(--bgc);
    border: 1px solid var(--black-1);
    padding: 20px;
    border-radius: var(--radius);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.linkcat ul li:hover {
    border: 1px solid var(--border);
    box-shadow: 0 0 10px 1px var(--black-1);
}
.linkcat ul li a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: var(--tr2);
    transition: var(--tr2);
}
.linkcat ul li a img {
    width: 50px;
    border-radius: 50% !important;
    margin-right: 10px;
}
@media screen and (max-width: 960px) {
    .linkcat ul {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
@media screen and (max-width: 640px) {
    .linkcat ul {
        display: grid !important;
        grid-template-columns: 1fr;
    }
    .linkcat ul li {
        padding: 10px;
    }
    .linkcat ul li a {
        font-size: 15px;
    }
    .linkcat ul li a img {
        width: 40px;
    }
}