.searchform {
    width: 285px;
    height: 100%;
    position: relative;
}
.searchform input {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    background-color: var(--bgc-sub);
    color: var(--text);
    border: 1px solid var(--bgc-sub);
    border-radius: var(--radius);
    padding: 0 36px 0 10px;
    transition: var(--tr3);
}
.searchform input:hover {
    background-color: var(--bgc);
    border: 1px solid var(--theme);
}
.searchform input:focus {
    width: 285px;
    background-color: var(--bgc);
    border: 1px solid var(--theme);
}
.searchform button {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: var(--radius-sub);
    background-color: var(--bgc-0);
    cursor: pointer;
}
.searchform button span {
    color: var(--text-info);
    font-size: 18px;
}
.searchform-mb {
    display: none;
}
@media screen and (max-width: 960px) {
    .searchform {
        display: none;
    }
    .searchform-mb {
        display: block;
        width: 100%;
        position: relative;
        padding: 10px;
        border-bottom: 1px solid var(--border);
        transition: var(--tr3);
    }
    .searchform-mb input {
        width: 100%;
        height: 39px;
        font-size: 14px;
        outline: none;
        background-color: var(--bgc-sub);
        color: var(--text);
        border: 1px solid var(--bgc-sub);
        border-radius: var(--radius);
        padding: 0 39px 0 10px;
        
        transition: var(--tr3);
    }
    .searchform-mb input:hover {
        background-color: var(--bgc);
        border: 1px solid var(--theme);
    }
    .searchform-mb input:focus {
        background-color: var(--bgc);
        border: 1px solid var(--theme);
    }
    .searchform-mb button {
        width: 39px;
        height: 39px;
        position: absolute;
        margin-right: 10px;
        top: 10px;
        right: 0;
        border: 0;
        border-radius: var(--radius-sub);
        background-color: var(--bgc-0);
        cursor: pointer;
    }
    .searchform-mb button span {
        font-size: 18px !important;
        color: var(--text-info) !important;
    }
}
