.content .post-item .post-content > * {
    font-size: 16px;
    margin-bottom: 10px;
}
.content .post-item .post-content > *:last-child {
    margin-bottom: 0;
}
.content .post-item .post-content p {
    line-height: 1.5;
    color: var(--text);
}
.content .post-item .post-content a {
    color: var(--theme);
    text-decoration: none;
    transition: all .2s;
}
.content .post-item .post-content a:hover {
    color: var(--theme-sub);
}
.content .post-item .post-content ol,
.content .post-item .post-content ul {
    margin-left: 40px;
}
.content .post-item .post-content ol li,
.content .post-item .post-content ul li {
    color: var(--text);
    font-size: 15px;
    word-break: break-all;
    word-wrap: break-word;
}
.content .post-item .post-content ol li {
    list-style: lower-greek;
}
.content .post-item .post-content ul li {
    list-style: disc;
}


.content .post-item .post-content .wp-block-gallery {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.content .post-item .post-content .wp-block-gallery .wp-block-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.content .post-item .post-content .wp-block-gallery .wp-block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    vertical-align: middle;
    position: absolute;
}

.content .post-item .post-content .wp-block-image {
    display: inline-block;
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}
.content .post-item .post-content > .wp-block-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    vertical-align: middle;
}


@media screen and (max-width: 620px) {
    .content .post-item .post-content > * {
        font-size: 14px;
    }
    .content .post-item .post-content ol li,
    .content .post-item .post-content ul li {
    font-size: 14px;
}
}