:root {
    --theme: #8183FF;
    --theme-sub: #A1A1F7;
    --bgc: #FFFFFF;
    --bgc-sub: #F5F5F5;
    --box: #0000001A;
    --text: #333333;
    --text-sub: #999999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 600px;
    margin: 0 auto;
}
.container-full {
    width: 100%;
}
body {
    background-color: var(--bgc-sub);
}

/* header */
.header {
    
}

/* main */
.main {
    /* margin-top: 70px; */
    /* height: 9000px; */
}
.main .banner {
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
}
.main .banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    z-index: -10;
}
.main .banner::before {
    content: "";
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0 0 0 / .1), rgba(0 0 0 / 0));
}

/* author */
.author {
    /* width: 100%; */
    padding: 0 20px;
}
.author .author-box {
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: rgba(255 255 255 / .8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0 0 0 / .05);
    position: relative;
    top: -30px;
}
.author .author-box .author-logo {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: -39px;
    box-shadow: 0 0 10px 1px rgba(0 0 0 / .1);
}
.author .author-box .author-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.author .author-box .author-name,
.author .author-box .author-des {
    text-align: center;
}
.author .author-box .author-name {
    position: relative;
    top: -25px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text);
}
.author .author-box .author-des {
    position: relative;
    top: -20px;
    font-size: 14px;
    color: var(--text-sub);
}

/* content */
.content .post-item {
    list-style: none;
    width: 100%;
    position: relative;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.content .post-item:last-child {
    border-bottom: 0;
}
.content .post-item .post-box {
    display: flex;
    margin-bottom: 15px;
}
.content .post-item .post-box .author-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    
}
.content .post-item .post-box .author-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .post-item .post-box .post-msg {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.content .post-item .post-box .post-msg .author-name {
    font-size: 15px;
    font-weight: 700;
    color: var(--text);
}
.content .post-item .post-box .post-msg .author-name span {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--theme);
}
.content .post-item .post-box .post-msg .post-time {
    font-size: 12px;
    color: var(--text-sub);
}
.content .post-item .post-content {
    word-break: break-all;
    word-wrap: break-word;
}
.content .page-nav {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.content .page-nav .page-nav-bar {
    display: flex;
    justify-content: center;
    color: var(--text-sub);
}
.content .page-nav .page-nav-bar a {
    text-decoration: none;
    color: var(--text);
}
.content .page-nav .page-nav-bar > * {
    padding: 0 4px;
    margin: 0 2px;
}

.footer {
    padding-bottom: 20px;
    font-size: 14px;
    color: var(--text-sub);
    text-align: center;
}
.footer .copyright a {
    text-decoration: none;
    color: var(--text-sub);
    transition: all .2s;
}
.footer .copyright a:hover {
    color: var(--theme);
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .footer {
        padding: 0 20px 20px 20px;
    }
}
