@font-face {
  font-family: "iconfont"; /* Project id 3372418 */
  src: url('iconfont.woff2?t=1651608619072') format('woff2'),
       url('iconfont.woff?t=1651608619072') format('woff'),
       url('iconfont.ttf?t=1651608619072') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-caidan:before {
  content: "\e652";
}

.icon-User:before {
  content: "\ea94";
}

.icon-tuichu:before {
  content: "\e600";
}

.icon-chakan:before {
  content: "\e613";
}

.icon-zhiwen:before {
  content: "\e8c2";
}

.icon-zhinanzhen:before {
  content: "\e630";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-xiaoxi:before {
  content: "\e625";
}

.icon-home:before {
  content: "\e626";
}

.icon-zhiding3:before {
  content: "\e628";
}

